* {
    box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    background-image: url(../img/concrete-texture.png);
    /*Effet de scroll lorsqu'on clique sur une ancre mais ne marche que sur FireFox ou pas du tout
    scroll-behavior: smooth;*/
}

h1 {
    font-size: 45px;
    font-family: 'Anton', sans-serif;
    color: #2980b9;
    text-align: center;
    letter-spacing: 1px;
}

h2 {
    font-size: 35px;
    color: #2c3e50;
    padding: 20px;
    font-weight: bold;
    text-shadow: 1px 1px 2px #aaa;
}

h3 {
    font-size: 22px;
    color: #2c3e50;
    padding: 15px;
    text-shadow: 1px 1px 2px #aaa;
}

h4 {
    text-align: center;
    margin-top: 30px;
}

/**************HEADER INDEX****************/
header {
    background: #2c3e50;
    height: 175px;
}

#logo {
    float: left;
    width: 25%;
    padding: 15px;
    text-align: center;
}

#slogan {
    float: left;
    width: 50%;
    padding-top: 50px;
}

#social {
    float: left;
    width: 25%;
}

#social i {
    font-size: 30px;
    text-align: right;
    padding: 15px 30px 0 0;
    display: block;
}

header a {
    color: #2980b9;
    text-decoration: none;
}

/*******************FIN HEADER*********************/

/**************DEBUT NAV********************/
nav {
    background: #2980b9;
    height: 70px;
    border-bottom: 8px solid #6ACAFC;
    text-align: center;
    padding: 15px;
}

nav li {
    display: inline;
    margin: 0 10px;
}

nav a {
    margin: 10px;
    padding: 2px 10px;
    border-radius: 10px 0px;
    border: 2px solid white;
    background: #6ACAFC;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-family: oswald;
    transition: 0.5s;
}

nav a:hover {
    background: #A6D6C3;
    color: white;
}

.activ {
    background: #2c3e50;
    color: white;
}

/**************FIN NAV********************/
/*FAIRE LE ZONING AVEC DES HAUTEUR ET LARGEUR AVANT DE PLACER LES ELEMENTS DANS LES ZONES POUR ENSUITE SUPPRIMER LES HAUTEURS*/
main {
    background: rgba(178, 178, 178, 0.30);
    width: 1000px;
    margin: 0 auto;
}

aside {
    /* height: 250px; */
    background: #A6D6C3;
}

footer {
    background: #2980b9;
    height: 30px;
    text-align: right;
    padding: 5px 10px;
}


.jaune {
    text-align: center;
    height: 100px;
    width: 100%;
    background: rgb(212, 212, 40);
}

.contain {
    text-align: center;
    display: flex;
    height: 400px;
    width: 100%;
}

.vert {
    width: 25%;
    height: 100%;
    background: rgb(82, 209, 82);
}

.bleu {
    width: 75%;
    height: 100%;
    background: rgb(36, 36, 173);
}

/* Zoning 2 */
.zoning2 {
    text-align: center;
}

.haut {
    width: 100%;
    height: 100px;
    background: beige;
}

.container {
    display: flex;
    height: 500px;
}

.g-aside {
    width: 25%;
    background: rgb(9, 87, 87);
}

.middle {
    width: 50%;
    background: rgb(32, 32, 58);
}

.d-aside {
    width: 25%;
    background: rgb(9, 87, 87);
}


/* zoning 3 */
.width-80 {
    width: 80%;
    margin: auto;
}

.englobe-section {
    height: 500px;
    display: flex;
    text-align: center;
    color: white;
}

.g-side {
    width: 50%;
    height: 100%;
    background: rgb(9, 87, 87);
}

.d-side {
    width: 50%;
    height: 100%;
    background: rgb(28, 121, 28);
}

#footer-jaune {
    background: rgb(226, 226, 158);
    height: 60px;
}

/* zoning 4 */

.englobe-zoning4 {
    width: 80%;
    margin: auto;
    text-align: center;
    border: 1px solid black;
    background: white;
}

.englobe-zoning4 header {
    height: 150px;
}

.englobe-zoning4 nav {
    height: 80px;
    background: rgb(174, 235, 174);
}

.englobe-zoning4 section {
    width: 90%;
    height: 600px;
    background: #2c3e50;
    margin: 40px auto;
}

.foot-zoning4 {
    height: 100px;
    background: rgb(7, 7, 54);
    color: white;
}

/* Zoning 5 */

.zoning5 {
    border: 1px solid black;
    width: 80%;
    margin: auto;
    text-align: center;
}

.zoning5 header {
    background: rgb(218, 176, 41);
}

.zoning5 nav {
    background: rgb(160, 128, 23);
}

.zoning5 .flex {
    border: 15px solid orangered;
    height: 450px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.no-wrap{
    flex-wrap: nowrap;
}

.zoning5-flex> div {
    display: flex;
    width: 50%;
}

.jaune-clair {
    background: rgb(228, 197, 26);
}

.jaune-fonce {
    background: rgb(165, 151, 25);
}

.zoning5 footer {
    height: 80px;
    background: rgb(255, 230, 0);
}

/* Zoning 6 */

.zoning6 {
    width: 80%;
    margin: auto;
    color: white;
}

.zoning6 > div {
    text-align: center;
}

.zoning6-flex {
    display: flex;
    text-align: center;
    height: 200px;
    color: white;
}

.width-20 {
    width: 25%;
    background: rgb(8, 8, 61);
}

.width-60 {
    width: 50%;
    background: rgb(40, 40, 110);
}

.float {
    float: left;
}

.clear {
    clear: both;
}

.width-100{
    width: 100%;
}

.width-50{
    width:50%;
}

.width-25{
    width: 25%;
}

.abcd{
    height: 200px;
}

.bdf {
    background: #2c3e50;
}

.ace{
    background: darkgray;
}

.slide{
    background: rgb(33, 43, 33);
    height: 300px;
}